#---------------------------------------------
api_url=
#---------------------------------------------
#enter relative path
build_path=update 
backup_path=backup
#---------------------------------------------
#enter absolute path (e.g /home/username/game)
extract_path=/home/ubuntu/game 
#---------------------------------------------
file_name=build 
extension_type=zip 
#---------------------------------------------
backup=yes
repeat_time=10
#---------------------------------------------
