#---------------------------------------------
build_path=./update
backup_path=./backup
#---------------------------------------------
extract_path=./unity
overwrite_files=yes
clear_path=no
#---------------------------------------------
file_name=build
extension_type=zip
#---------------------------------------------
backup=yes
repeat_time=10
#---------------------------------------------
